<div class="container-fluid p-5">

  <div class="container">

    <div class="section-header">
      <h3 class="text-center mt-5">
        {{department.name}} Department
      </h3>
    </div>

    <div class="row my-5">
      <div class="col-md-6">
        <img class="img-fluid images-property" src="assets/images/{{department.photo}}">
      </div>
      <div class="col-md-6 mt-1">
        <p>
          {{department.description}}
        </p>
      </div>
    </div>

    <div class="section-header teachers">
      <h3 class="text-center mt-5">
        Teachers
      </h3>
    </div>

    <div class="row my-3">
      <div class="col-md-3 text-center mb-3" *ngFor='let teacher of filterTeachersByDepartment(id)'>
        <div class="teachers-card p-2">
          <img class="img-fluid mb-2" src="assets/images/person.png">
          <p><strong>{{teacher.name}}</strong><br>{{teacher.subject}}</p>
        </div>
      </div>
    </div>

  </div>
</div>
