<footer id="footer">
  <div class="footer-top px-4">
    <div class="row">

      <div class="col-lg-3 col-md-6 footer-info">
        <h4>Baricho High School</h4>
        <p>
          We provide high quality, holistic
          and affordable education that
          will enable students to make
          positive contribution to the
          global society.
        </p>
      </div>

      <div class="col-lg-3 col-md-6 footer-links">
        <h4>Useful Links</h4>
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">About us</a></li>
          <li><a href="#">Departments</a></li>
          <li><a href="#">Teachers</a></li>
          <li><a href="#">Alumni</a></li>
          <li><a href="#">Contact Us</a></li>
        </ul>
      </div>

      <div class="col-lg-3 col-md-6 footer-links">
        <h4>Departments</h4>
        <ul>
          <li><a href="#">Mathematics</a></li>
          <li><a href="#">Languages</a></li>
          <li><a href="#">Sciences</a></li>
          <li><a href="#">Computer Studies</a></li>
          <li><a href="#">Religious Studies</a></li>
        </ul>
      </div>

      <div class="col-lg-3 col-md-6 footer-contact">
        <h4>Contact Us</h4>
        <p>
          Alternative Voice <br>
          Development House 8 Floor<br>
          Moi Avenue Nairobi. <br>
          <strong>Phone:</strong> +254729145983
          <br>
          <strong>Email:</strong> info@alternativevoice.net.com<br>
        </p>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="copyright">
      &copy; Copyright <strong>Lenny Dennis Macharia</strong>. All Rights Reserved
    </div>
  </div>
</footer><!-- #footer -->

<a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
