<footer id="footer">
  <div class="footer-top px-4">
    <div class="row">

      <div class="col-lg-3 col-md-6 footer-info">
        <h4>Baricho High School</h4>
        <p>
          We provide high quality, holistic
          and affordable education that
          will enable students to make
          positive contribution to the
          global society.
        </p>
      </div>

      <div class="col-lg-3 col-md-6 footer-links">
        <h4>Useful Links</h4>
        <ul>
          <li><a routerLink="/home">Home</a></li>
          <li><a routerLink="/about">About us</a></li>
          <li><a routerLink="/departments">Departments</a></li>
          <li><a routerLink="/teachers">Teachers</a></li>
          <li><a routerLink="/alumni">Alumni</a></li>
          <li><a routerLink="/contact">Contact Us</a></li>
        </ul>
      </div>

      <div class="col-lg-3 col-md-6 footer-links">
        <h4>Departments</h4>
        <ul>
          <li><a routerLink="/department-detail/1">Mathematics</a></li>
          <li><a routerLink="/department-detail/2">Languages</a></li>
          <li><a routerLink="/department-detail/3">Religion</a></li>
          <li><a routerLink="/department-detail/4">Sciences</a></li>
          <li><a routerLink="/department-detail/5">Technical and Applied Studies</a></li>
        </ul>
      </div>

      <div class="col-lg-3 col-md-6 footer-contact">
        <h4>Contact Us</h4>
        <p>
          Alternative Voice <br>
          Development House 8 Floor<br>
          Moi Avenue Nairobi. <br>
          <strong>Phone:</strong> +254729145983
          <br>
          <strong>Email:</strong> info@alternativevoice.net.com<br>
        </p>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="copyright">
      &copy; Copyright <strong>Lenny Dennis Macharia</strong>. All Rights Reserved
    </div>
  </div>
</footer>
