.contact img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.card {
  border: none;
  border-radius: 10px;
  box-shadow: 0 10px 20px 2px rgba(0, 0, 0, 0.2);
}

.emailForm h5 {
  font-weight: 600;
}

.emailForm mat-form-field {
  width: 100%;
}

.submitBtn {
  font-weight: 600;
  transition: all 0.3s ease;
  color: #fff;
  background-color: #e70c46;
}

.submitBtn:hover {
  background-color: #e70c46bb;
  color: #fff;
}

::ng-deep .mat-focused .mat-form-field-label {
  /*change color of label*/
  color: #e70c46 !important;
}

::ng-deep.mat-form-field-underline {
  /*change color of underline*/
  background-color: #000 !important;
}

::ng-deep.mat-form-field-ripple {
  /*change color of underline when focused*/
  background-color: #e70c46 !important;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

::ng-deep .submitBtn {
  font-family: "Quicksand", sans-serif;
  color: #fff;
  background-color: #166d9e;
}

@media only screen and (max-width: 768px) {
  .contDetail hr {
    visibility: visible !important;
  }
}
