<div class="container-fluid p-5">

  <div class="container">

    <div class="section-header">
      <h3 class="text-center mt-5">
        Alumni
      </h3>
    </div>

    <div class="row my-3">
      <div class="col-md-3 text-center mb-3" *ngFor='let alumni of alumni'>
        <div class="alumni-card p-2">
          <img class="img-fluid mb-2" src="assets/images/animal.jpg">
          <p><strong>{{alumni.name}}</strong><br>{{alumni.start}} - {{alumni.end}} </p>
        </div>
      </div>
    </div>

  </div>
</div>
