<div class="home-page">
  <div class="home-page">

    <main>
      <div class="container-fluid welcome pt-5">

        <div class="container ">

          <div class="row">

            <div class="col-md-6 pt-5">
              <h1 class="mb-4 text-right">
                <strong>Baricho High School</strong>
              </h1>

              <p class="mb-4 text-center">
                <span class="welcome-paragraph">Education is the key</span> to success
              </p>

              <div class="text-center">
                <button class="btn learnMoreBtn py-2 px-5" routerLink="/register">
                  Learn More
                </button>
              </div>

              <img id="circle_blue" src="assets/images/circle-blue.svg" alt="">
              <img id="circle_pink" src="assets/images/circle-pink.svg" alt="">
              <img id="circle_pink2" src="assets/images/circle-pink.svg" alt="">

            </div>

            <div class="col-md-6 pl-5" id="school">
              <img id="school_svg" src="assets/images/school.gif" alt="school">
              <img id="circle_blue_school" src="assets/images/circle-blue.svg" alt="">
              <img id="circle_pink_school" src="assets/images/circle-pink.svg" alt="">
            </div>

          </div>

        </div>

      </div>

    </main>

    <div class="container">
      <hr>
    </div>

    <div class="container about-info pt-4">

      <div class="row">

        <div class="col-md-4 my-2 text-center">
          <div class="landing-card py-3 px-4">
            <h4 class="landing-card_heading pt-2">Vision</h4>
            <p>
              To be center of excellence
              in the provision of high
              quality affordable and
              holistic education.
            </p>
          </div>
        </div>

        <div class="col-md-4 my-2 text-center">
          <div class="landing-card  py-3 px-4">
            <h4 class="landing-card_heading pt-2">Mission</h4>
            <p>
              To provide high quality, holistic
              and affordable education that
              will enable students to make
              positive contribution to
              the global society.
            </p>
          </div>
        </div>

        <div class="col-md-4 my-2 text-center">
          <div class="landing-card py-3 px-4">
            <h4 class="landing-card_heading pt-2">Core Values</h4>
            <p>
              Services<br>
              Professionalism<br>
              Integrity<br>
              Team Work<br>
              Excellence
            </p>
          </div>
        </div>

      </div>
    </div>

  </div>

  <br>
  <br>

</div>
