<div class="container-fluid p-5">

  <div class="container">

    <div class="section-header">
      <h3 class="text-center mt-5">
        Departments
      </h3>
    </div>

    <div class="row my-5">
      <div class="col-md-6">
        <img class="img-fluid images-property" src="assets/images/about1.jpeg">
      </div>
      <div class="col-md-6 mt-1">
        <h3 class="mb-3">Meet our Specialists</h3>
        <p>
          Founded in 1960, Baricho High School offers a holistic education that focuses on the intellectual, emotional,
          psychological, social, spiritual and physical development of boys.
        </p>
        <div>
          <button class="btn readMoreBtn py-1 px-3" routerLink="/register">
            Learn More
          </button>
        </div>
      </div>
    </div>

    <div class="row my-5">
      <div class="col-md-6 mt-1">
        <h3 class="mb-3">Meet our Specialists</h3>
        <p>
          Founded in 1960, Baricho High School offers a holistic education that focuses on the intellectual, emotional,
          psychological, social, spiritual and physical development of boys.

        </p>
      </div>
      <div class="col-md-6">
        <img class="img-fluid images-property" src="assets/images/about1.jpeg">
      </div>
    </div>

    <div class="row my-5">
      <div class="col-md-6">
        <img class="img-fluid images-property" src="assets/images/about1.jpeg">
      </div>
      <div class="col-md-6 mt-1">
        <h3 class="mb-3">Meet our Specialists</h3>
        <p>
          Founded in 1960, Baricho High School offers a holistic education that focuses on the intellectual, emotional,
          psychological, social, spiritual and physical development of boys.

        </p>
      </div>
    </div>

    <div class="row my-5">
      <div class="col-md-6 mt-1">
        <h3 class="mb-3">Meet our Specialists</h3>
        <p>
          Founded in 1960, Baricho High School offers a holistic education that focuses on the intellectual, emotional,
          psychological, social, spiritual and physical development of boys.

        </p>
      </div>
      <div class="col-md-6">
        <img class="img-fluid images-property" src="assets/images/about1.jpeg">
      </div>

    </div>

    <div class="row my-5">
      <div class="col-md-6">
        <img class="img-fluid images-property" src="assets/images/about1.jpeg">
      </div>
      <div class="col-md-6 mt-1">
        <h3 class="mb-3">Meet our Specialists</h3>
        <p>
          Founded in 1960, Baricho High School offers a holistic education that focuses on the intellectual, emotional,
          psychological, social, spiritual and physical development of boys.

        </p>
      </div>
    </div>
  </div>
</div>
