<div class="container-fluid p-5">

  <div class="container">

    <div class="section-header">
      <h3 class="text-center mt-5">
        Departments
      </h3>
    </div>

    <div class="my-5" *ngFor="let department of departments; index as i">
      <div class="row" *ngIf="i%2==0">
        <div class="col-md-6">
          <img class="img-fluid images-property" src="assets/images/{{department.photo}}">
        </div>
        <div class="col-md-6 mt-1">
          <h3 class="mb-3">{{department.name}}</h3>
          <p>
            {{department.description}}
          </p>
          <div>
            <button class="btn readMoreBtn py-1 px-3" routerLink="/department-detail/{{department.id}}">
              Learn More
            </button>
          </div>
        </div>
      </div>
      <div class=" row" *ngIf="i%2!=0">
        <div class="col-md-6 mt-1">
          <h3 class="mb-3">{{department.name}}</h3>
          <p>
            {{department.description}}
          </p>
          <div>
            <button class="btn readMoreBtn py-1 px-3" routerLink="/department-detail/{{department.id}}">
              Learn More
            </button>
          </div>
        </div>
        <div class="col-md-6">
          <img class="img-fluid images-property" src="assets/images/{{department.photo}}">
        </div>
      </div>
    </div>

  </div>
</div>
